<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxy.room.dao.RoomMessDao">
    <resultMap id="BaseResultMap" type="com.fxy.room.entity.RoomMess">
        <id column="id" jdbcType="INTEGER" property="id" />

        <result column="user_id" jdbcType="INTEGER" property="userId" />

        <result column="mess_time" jdbcType="TIMESTAMP" property="messTime" />

    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fxy.room.entity.RoomMess">
        <result column="mess_info" jdbcType="LONGVARCHAR" property="messInfo" />

    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, mess_time

    </sql>

    <sql id="Blob_Column_List">
        mess_info

    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select 

        <include refid="Base_Column_List" />

        ,

        <include refid="Blob_Column_List" />

        from room_mess

        where id = #{id,jdbcType=INTEGER}

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from room_mess

        where id = #{id,jdbcType=INTEGER}

    </delete>

    <insert id="insertSelective" parameterType="com.fxy.room.entity.RoomMess">
        insert into room_mess

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="messTime != null">
                mess_time,
            </if>
            <if test="messInfo != null">
                mess_info,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="messTime != null">
                #{messTime,jdbcType=TIMESTAMP},
            </if>
            <if test="messInfo != null">
                #{messInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>

    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fxy.room.entity.RoomMess">
        update room_mess

        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="messTime != null">
                mess_time = #{messTime,jdbcType=TIMESTAMP},
            </if>
            <if test="messInfo != null">
                mess_info = #{messInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>

        where id = #{id,jdbcType=INTEGER}

    </update>

</mapper>